.ff-header {
    margin: -40px;
        margin-bottom: -40px;
    margin-bottom: 40px;
    border-bottom: solid 1px rgba(0,0,0,.1);
    padding: 40px;
}

.img{
    position: center;
}


#canvas1 {
    border: 2px solid white;

}
